%p.chat__message__user
  = message.user.name
  %span.chat__message__user__created-at
    = message.created_at

- if message.image.present?
  = image_tag "#{message.image}", size: "200x200"

%p.chat__message__text
  = message.content
